* {
	font-size: 11px;
	font-family: "Verdana", arial, serif;
}
body {
	margin: 0 0 1em 0;
	padding: 0;
	border:0;
	background: url("/img/image4.gif") black;
	color: white;
	font-weight: normal;
}
img, form {
	border: none;
	margin:0;
	padding:0;
}
table {
	border-collapse: collapse;
}

hr {
	color: #660000;
	background-color: #660000;
	height: 0.1em;
	border: 0;
}


.img-thumb {
	border: 0.1em dotted #660000;
}

.error {
	color: red;
	font-weight: bold;
}

.error-form {
	color: red;
	font-weight: bold;
}

TD {
	font-weight: normal;
}

TH {
	font-weight: bold;
	background-color: #EFC964;
}

A {
	border: none;
	color: red;
	text-decoration: underline;
	font-weight: normal;
}
A:hover {
	text-decoration: none;
}

.A-small:link, .A-small:visited, .A-small:active {
	color: red;
	text-decoration: underline;
	font-size: smaller;
	font-weight: normal;
}

.A-small:hover {
	color: red;
	text-decoration: none;
	font-size: smaller;
	font-weight: normal;
}

.box-red {
	background-color: #990000;
}

P {
	margin-top: 0;
}

.TD-cat {
	background-color: #660000;
	color: white;
	font-weight: bold;
	padding: 0.3em 0.4em 0.4em 0.4em;
	border-left: 0.1em solid white;
	border-top: 0.1em solid white;
	border-bottom: 0.1em solid #220000;
	border-right: 0.1em solid #220000;
	cursor: default;
}
.TD-cat a.caption {
	color: white;
	font-weight: bold;
	text-decoration: underline;
}
.TD-cat a.caption:hover {
	text-decoration: none;
}

.TD-weekend {
	background-color: #990000;
}

.TD-current {
	background-color: #000000;
}


dl, dt { padding:0; margin: 0; }
dt {
	padding: 0.2em;
	background-color: #660000;
	border-bottom: 0.1em dotted #220000;
	font-weight: bold;
}
dd {
	padding: 0.2em;
	margin-bottom: 1em;
}

input, textarea {
	border: 0.1em solid white;
	background-color: #660000;
	color: white;
	font-weight: normal;
}
input.checkbox {
	border: none;
	background-color: #660000;
	color: #660000;
}

input[type=submit],
input[type=button] {
	padding: 0 1em;
	border-top: 0.1em solid white;
	border-left: 0.1em solid white;
	border-right: 0.1em solid #220000;
	border-bottom: 0.1em solid #220000;
}
input[type=submit]:active,
input[type=button]:active {
	border-top: 0.1em solid #220000;
	border-left: 0.1em solid #220000;
	border-right: 0.1em solid white;
	border-bottom: 0.1em solid white;
}


#content {
	margin: 1em auto;
	margin-top: 0;
	width: 75.2em;
}

#header {
	position: relative;
	width: 75.2em;
	height: 11.1em;
	margin: 0 auto;
	padding: 0;
	/*border-bottom: 0.1em solid #000;*/
}


.Comment-new {
	color: red;
}
.Comment {
	clear: both;
	margin-bottom: 1em;
}
.Comment .header {
	margin-bottom: 0.1em;
	background-color: #660000;
}
.Comment .nick,
.Comment .date,
.Comment .center,
.vote,
.Comment .profile,
.Comment .link {
	padding: 0.3em;
}

.Comment .nick,
.Comment .date {
	float: left;
}
.vote,
.Comment .profile,
.Comment .link {
	border-left: 0.1em solid #220000;
	float: right;
}
.Comment .nick {
	font-weight: bold;
	padding-right: 0;
}
.Comment .date {
	padding-left: 0;
}
.Comment .center {
}
.vote, .vote-plus, .vote-minus {
	color: #676767;
	font-weight: bold;
	text-align: center;
	width: 2em;
}
.vote-value {
	width: 3em;
	text-align: right;
}
.plus, .vote-plus { color: #00a400; }
.minus, .vote-minus { color: #c70000; }

.Comment .data,
.Comment .disabled {
	clear: both;
	padding: 0.2em;
	background-color: #444444;
}

.Comment .disabled {
	background-color: #600000;
	text-align: center;
	font-style: italic;
}

/* Article */
.Article-item {
	clear: both;
	margin-bottom: 1em;
}
.Article-item .data {
	background: #444444;
	padding: 0.5em 1em;
}
.Article-item .data p {
	text-align: justify;
}
.Article-item .data .intro {
	border-bottom: 0.1em dotted #220000;
	margin-bottom: 1em;
}
.Article-item img.left {
	float: left;
	margin: 0 .5em .5em 0;
}
.Article-item img.right {
	float: right;
	margin: 0 0 .5em .5em;
}
.Article-item .date {
	float: left;
}
.Article-item .comments {
	float: right;
	font-weight: normal;
}
.Article-item .caption {
	text-align: center;
}


/* column container */
.colmask {
	position:relative;    /* This fixes the IE7 overflow hidden bug */
	clear: both;
	width: 75.2em;
	margin: 0 auto;
	overflow:hidden;      /* This chops off any overhanging divs */
	padding-bottom: 1em;
	/*border-bottom: 1px dotted #660000;*/
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.col1,
.col2,
.col3 {
	float: left;
	position: relative;
	padding: 0 0 0 0;
	overflow: hidden;
}
/* 2 Column (right menu) settings */
.rightmenu {
}
.rightmenu .colleft {
	right: 17.0em;       /* right column width */
}
.rightmenu .col1 {
	width:58.0em;       /* left column content width (left column width minus left and right padding) */
	left: 17.0em;        /* (right column width) plus (left column left padding) */
}
.rightmenu .col2 {
	width: 17.0em;       /* right column content width (right column width minus left and right padding) */
	left: 17.1em;        /* (right column width) plus (left column left and right padding) plus (right column left padding) */
}
.col1, .col2 {
	background: #220000;
}
.light {
	background: none;
}

#header .logo,
#header .logo .logo-inside {
	cursor: pointer;
	width: 58.0em;
	height: 8.0em;
}
#header .logo {
	position: relative;
	background: url("../img/logo-background.png") no-repeat top left;
	float: left;
	border-bottom: 0.1em dotted #220000;
}
#header .logo .logo-inside {
	display: block;
	background: url("../img/truemetal.lv-logo.png") no-repeat center 2.2em;
}
#header .banner {
	width: 17.0em;
	height: 11em;
	position: absolute;
	right: 0.1em;
	text-align: center;
	vertical-align: middle;
	background-color: #330000;
}

#header .menu {
	width: 58.0em;
	height: 3em;
	position: relative;
	float: left;
}

#header .menu table {
	width: 100%;
	border-collapse: separate;
}

#header .menu td {
	background: #330000;
	text-align: center;
}

.List-item {
	padding: 0.2em;
	margin: 0.1em;
	background: #660000;
	border-bottom: 0.1em dotted #220000;
}

.List-item.actual {
	background: #660000 url("/img/bums.gif");
}

.List-sep {
	height: 1em;
}

.Video-descr {
	width: 100%;
	background: #660000;
	vertical-align: top;
	border-top: 0.1em dotted #220000;
}

/* Forum */
table.Forums {
	width: 100%;
	border-collapse: separate;
}
.Forum-cat {
	background-color: #660000;
	padding: 0.3em 0.4em 0.4em 0.3em;
	margin-bottom: 0.1em;
}
.Forum-descr {
	background-color: #444444;
	padding: .5em;
}
.Forum-sep {
	height: 1em;
}
.Forum-Pager {
	position: relative;
	width: 52.0em;
	top: 0;
	text-align: center;
	margin: 0 auto;
}
.Forum-Page-prev, .Forum-Page-next {
	position: relative;
	width: 1.6em;
	height: 1.6em;
}
.Forum-Page-prev {
	float: left;
}
.Forum-Page-next {
	float: right;
}
.Forum-Page-prev img, .Forum-Page-next img {
	vertical-align: bottom;
	text-align: right;
}

.Forum-Theme-name, .Forum-Theme-childcount, .Forum-Theme-username {
	background: #444444;
	border-bottom: 0.1em dotted #220000;
	white-space: nowrap;
}
.Forum-Theme-name {
	width: 100%;
}
.Forum-Theme-0 {
	background-color: #660000;
}
table.Forum-Theme, table.Forum-Theme-form {
	width: 100%;
	border-collapse: separate;
}

/* Poll */
.Poll-result {
	clear: both;
	background: #440000;
	font-weight: bold;
	text-align: right;
	margin-bottom: 1em;
}
.Poll-bar {
	float: left;
	height: auto;
	background: red;
}

.Info {
	padding: 3em 1em 4em 1em;
}


table.Main {
	width: 100%;
	min-width: 50%;
	border-collapse: separate;
	border-spacing: 0.1em;
	background-color: #660000;
	border: 0.1em solid #220000;
	border-top: none;
}
table.Main td {
	border-bottom: 0.1em dotted #220000;
	padding: 0.2em;
}

div.clear {
	clear: both;
}

div.loading {
	background-image: url("/img/loading1.gif");
	background-repeat: no-repeat;
	background-position: center center;
}

.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.Event-date {
	font-size: smaller;
	white-space: nowrap;
}

label {
	display: inline-block;
	vertical-align: middle;
}
label > input {
	margin: 0 2px;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}
